
@{
    ViewData["Title"] = "Interview";
    Layout = "~/Views/Layout/Layout_DashboardUser.cshtml";
}


<div class="container-fluid">

    <!-- Modal -->
    <div class="modal fade animated bounceInDown show" id="MyModal" role="dialog" aria-labelledby="MyModal" aria-hidden="true">
        <div class="modal-dialog full_modal-dialog" role="document">
            <div class="modal-content full_modal-content">
                <div class="modal-header ">
                    <h5 class="modal-title">Detail Interview</h5>                    
                </div>
                <div class="modal-body">
                    <!-- Card -->
                    <div class="card ">
                        <div class="card-header text-center card-secondary">
                            <div class="row">
                                <div class="col-md-1"> <span class="label label-primary p-2 float-left text-center" id="InterviewId"></span></div>
                                <div class="col-md-11"><h4 class="card-title text-center" id="SiteName"></h4></div>                               
                            </div>
                        </div>
                        <div class="card-body border">
                            <div class="row">  
                                <div class="col-md-2">
                                    <img src="~/images/logo/logo-bni.png" class="rounded float-left" style="width:70%;height:70%;">
                                </div>
                                <div class="col-md-4">
                                    <div class="row">
                                        <div class="col-4"><span><i class="fa fa-address-book"></i> PIC</span></div>
                                        <div>:</div>
                                        <div class="col-7" id="PIC"><span></span></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4"><span><i class=" fa fa-phone-square"></i> Phone</span></div>
                                        <div>:</div>
                                        <div class="col-7" id="Phone"><span></span></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4"><span><i class="fa fa-location-arrow"></i> Address</span></div>
                                        <div>:</div>
                                        <div class="col-7" id="Address"><span></span></div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="row">
                                        <div class="col-4"><span><i class="fa fa-calendar"></i> Date</span></div>
                                        <div>:</div>
                                        <div class="col-7"><span class="label label-danger text-center p-1" style="width:70%;" id="Date"></span></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4"><span><i class=" fa fa-clock-o"></i> Time</span></div>
                                        <div>:</div>
                                        <div class="col-7"><span class="label label-warning text-center p-1" style="width:70%;" id="Time"></span></div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <span class="label text-center p-1" id="Status"></span>                                     
                                </div>
                            </div>
                        </div>
                        <div class="card-footer text-center border">
                            <span class="label label-danger" id="IntervalDetail"></span>
                        </div>
                    </div>
                    <!-- Card -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="ButtonConfirm">Confirmation</button>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
        <div class="col-md-6 col-8 align-self-center">
            <h3 class="text-themecolor m-b-0 m-t-0">Forms</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                <li class="breadcrumb-item active">Form</li>
            </ol>
        </div>
        <div class="col-md-6 col-4 align-self-center">
            <button class="right-side-toggle waves-effect waves-light btn-info btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>           
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->

    <div class="col-md-12">
        <div class="card">
            <div class="card-body p-b-0">
                <h4 class="card-title">Invitation Interview</h4>
                <!-- Nav tabs -->
                <ul class="nav nav-tabs customtab2" role="tablist" style="width:100%;">
                    <li class="nav-item" style="width:50%;"> <a class="nav-link active" data-toggle="tab" href="#home7" role="tab"><span class="hidden-sm-up"><i class="ti-home"></i></span> <span class="hidden-xs-down">Active</span></a> </li>
                    <li class="nav-item" style="width:50%;"> <a class="nav-link" data-toggle="tab" href="#profile7" role="tab"><span class="hidden-sm-up"><i class="ti-user"></i></span> <span class="hidden-xs-down">Done</span></a> </li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active" id="home7" role="tabpanel">
                        <div class="p-20">
                            @foreach (var list in ViewBag.InterviewByUser)
                            {
                                @if (list.Status == "Waiting Confirmation" || list.Status == "Ready Interview" || list.Status == "Waiting Result")
                                {
                                    <!-- Card 1-->
                                    <div class="card ">
                                        <div class="card-header text-center">
                                            <h4 class="card-title text-center">Interview Invitation</h4>
                                        </div>
                                        <div class="card-body border">
                                            <div class="row">
                                                <div class="col-12">
                                                    @if(list.Status=="Waiting Confirmation"){
                                                         <span class="label label-danger p-2  mb-1">@list.Status</span>
                                                    }@if(list.Status=="Ready Interview"){
                                                        <span class="label label-warning p-2  mb-1">@list.Status</span>
                                                    }@if(list.Status=="Waiting Result"){
                                                        <span class="label label-info p-2  mb-1">@list.Status</span>
                                                    }
                                                   
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <img src="~/images/logo/logo-bni.png" class="rounded float-left" style="width:70%;height:70%;">
                                                </div>
                                                <div class="col-md-4 ">
                                                    <h4 class="bold mt-3">@list.SiteName</h4>
                                                </div>
                                                <div class="col-md-4">
                                                    <span class="label label-warning text-center" style="width:50%;">27-March-2020</span><br />
                                                    <span class="label label-warning text-center" style="width:50%;">10:00 AM</span>
                                                </div>
                                                <div class="col-md-2">
                                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#MyModal" onclick="Detail(@list.Id)">
                                                        View Detail
                                                    </button>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-footer text-center border">
                                            <span class="label label-danger" id="Interval">@list.Interval</span>
                                        </div>
                                    </div>
                                    <!-- Card -->
                                }else{
                                    <span>You Dont Have Invitation Interview</span> 
                                }
                            }
                        </div>
                    </div>
                    <div class="tab-pane  p-20" id="profile7" role="tabpanel">
                        <!-- Card -->
                        @foreach (var list in ViewBag.InterviewByUser)
                        {
                            @if (list.Status == "Placement Accepted" || list.Status == "Placement Failed")
                            {
                                <div class="card ">
                                    <div class="card-header text-center">
                                        <h4 class="card-title text-center">Interview Invitation</h4>
                                    </div>
                                    <div class="card-body border">
                                        <div class="row">
                                            <div class="col-12">
                                                @if(list.Status =="Placement Accepted"){
                                                    <span class="label label-success p-2 mb-1">@list.Status</span>
                                                }@if(list.Status =="Placement Failed"){
                                                    <span class="label label-danger p-2 mb-1">@list.Status</span>
                                                }
                                                
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-2">
                                                <img src="~/images/logo/logo-bni.png" class="rounded float-left" style="width:70%;height:70%;">
                                            </div>
                                            <div class="col-md-4 ">
                                                <h4 class="bold mt-3">@list.SiteName</h4>
                                            </div>
                                            <div class="col-md-4">
                                                <span class="label label-warning text-center" style="width:50%;">@Convert.ToDateTime(list.InterviewDate).ToString("dd-MMMM-yyyy")</span><br />
                                                <span class="label label-warning text-center" style="width:50%;">@Convert.ToDateTime(list.InterviewDate).ToString("HH:MM")</span>
                                            </div>
                                            <div class="col-md-2">
                                                <button class="btn btn-primary">View Detail</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer text-center border">
                                        <span class="label label-danger">@DateTime.Now.ToString("dd-MMMM-yyyy")</span>
                                    </div>
                                </div>
                                <!-- Card -->
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ============================================================== -->
    <!-- End PAge Content -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Right sidebar -->
    <!-- ============================================================== -->
    <!-- .right-sidebar -->
    <div class="right-sidebar">
        <div class="slimscrollright">
            <div class="rpanel-title"> Service Panel <span><i class="ti-close right-side-toggle"></i></span> </div>
            <div class="r-panel-body">
                <ul id="themecolors" class="m-t-20">
                    <li><b>With Light sidebar</b></li>
                    <li><a href="javascript:void(0)" data-theme="default" class="default-theme">1</a></li>
                    <li><a href="javascript:void(0)" data-theme="green" class="green-theme">2</a></li>
                    <li><a href="javascript:void(0)" data-theme="red" class="red-theme">3</a></li>
                    <li><a href="javascript:void(0)" data-theme="blue" class="blue-theme working">4</a></li>
                    <li><a href="javascript:void(0)" data-theme="purple" class="purple-theme">5</a></li>
                    <li><a href="javascript:void(0)" data-theme="megna" class="megna-theme">6</a></li>
                    <li class="d-block m-t-30"><b>With Dark sidebar</b></li>
                    <li><a href="javascript:void(0)" data-theme="default-dark" class="default-dark-theme">7</a></li>
                    <li><a href="javascript:void(0)" data-theme="green-dark" class="green-dark-theme">8</a></li>
                    <li><a href="javascript:void(0)" data-theme="red-dark" class="red-dark-theme">9</a></li>
                    <li><a href="javascript:void(0)" data-theme="blue-dark" class="blue-dark-theme">10</a></li>
                    <li><a href="javascript:void(0)" data-theme="purple-dark" class="purple-dark-theme">11</a></li>
                    <li><a href="javascript:void(0)" data-theme="megna-dark" class="megna-dark-theme ">12</a></li>
                </ul>               
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Right sidebar -->
    <!-- ============================================================== -->
</div>

@section Scripts{
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="~/plugins/bootstrap/js/popper.min.js"></script>
    <script src="~/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="~/js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="~/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="~/js/sidebarmenu.js"></script>
    <!--stickey kit -->
    <script src="~/plugins/sticky-kit-master/dist/sticky-kit.min.js"></script>
    <!--Custom JavaScript -->
    <script src="~/js/custom.min.js"></script>
    @* <script src="~/plugins/moment/min/moment.min.js"></script> *@
    <script src="~/plugins/wizard/jquery.steps.min.js"></script>
    <script src="~/plugins/wizard/jquery.validate.min.js"></script>
    <!-- Sweet-Alert  -->
    @*<script src="~/plugins/sweetalert/sweetalert.min.js"></script>*@
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="~/plugins/wizard/steps.js"></script>
    <!-- ============================================================== -->
    <!-- Style switcher -->
    <!-- ============================================================== -->
    <script src="~/plugins/styleswitcher/jQuery.style.switcher.js"></script>
    <!-- Moment Js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>

    <script>
       
        function Detail(Id) {           
            $.ajax({
                "url": "/Users/GetDetailInterview/",
                "type": "GET",
                "dataType": "json",
                "data": { id:Id}
            }).then((result) => {
                debugger
                if (result.data[0] != null) {
                    var data = result.data;
                    var InterviewVM = JSON.parse(data);   
                    document.getElementById("InterviewId").innerHTML = "INT-" + InterviewVM[0].id;                   
                    document.getElementById("SiteName").innerHTML = InterviewVM[0].siteName; 
                    document.getElementById("PIC").innerHTML = InterviewVM[0].pic; 
                    document.getElementById("Phone").innerHTML = InterviewVM[0].sitePhone; 
                    document.getElementById("Address").innerHTML = InterviewVM[0].siteAddress; 
                    document.getElementById("Date").innerHTML = moment(InterviewVM[0].createDate).format('D MMM YYYY');
                    document.getElementById("Time").innerHTML = moment(InterviewVM[0].createDate).format('h:mm A');
                    var Status = InterviewVM[0].status;
                        if(Status =="Waiting Confirmation"){
                            var SpanChange = document.getElementById("Status");
                            SpanChange.classList.add("label-danger");
                            SpanChange.innerHTML = Status;
                            $("#ButtonConfirm").show();
                        }if(Status =="Ready Interview"){
                            var SpanChange = document.getElementById("Status");
                            SpanChange.classList.add("label-warning");
                            SpanChange.innerHTML = Status;
                            $("#ButtonConfirm").hide();
                        }if(Status =="Waiting Result"){
                            var SpanChange = document.getElementById("Status");
                            SpanChange.classList.add("label-info");
                            SpanChange.innerHTML = Status;
                            $("#ButtonConfirm").hide();
                        }
                    var Interval = document.getElementById("Interval").innerHTML;
                    document.getElementById("IntervalDetail").innerHTML = Interval;
                    

                    var button = document.getElementById("ButtonConfirm");
                    button.addEventListener("click",function(){
                        
                        var id = InterviewVM[0].id;                        
                        var interview = new Object();
                        interview.Status = "Waiting Result";                         
                        $.ajax({
                            "url": "/Users/UpdateStatus/",
                            "type": "PUT",
                            "dataType": "json",
                            "data": {Id:id, Status:interview.Status }
                        }).then((result)=>{
                            debugger
                            if (result.statusCode == 200) {
                                Swal.fire(
                                  'Success!',
                                  'Login Success',
                                  'success');
                            }                            
                        })
                    });
                    
                   
                }                
            })
        }
    </script>
}


